* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

img {
  max-inline-size: 100%;
  vertical-align: bottom;
}

button,
a {
  cursor: pointer;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/montserrat-v26-cyrillic_latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/montserrat-v26-cyrillic_latin-700.woff2")
    format("woff2");
}

.page {
  font-family: "Montserrat", sans-serif;
  max-inline-size: 1920px;
  margin: 0 auto;
  display: grid;
  gap: 40px;
}

.main {
  padding: 0 20px;
  display: grid;
  gap: 72px;
}

.header {
  background-color: #44036f;
  color: #fff;
  padding: 48px 20px;
  text-align: center;
  display: grid;
  gap: 32px;
}

.header__title {
}

.nav-list {
  display: grid;
  justify-items: center;
  gap: 16px;
}

.nav-link {
  position: relative;
  color: #fff;
  font-size: 18px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  inline-size: 100%;
  padding: 1px;
  background: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 0 100%;
  transition: background-size 300ms;
}

.list {
  display: grid;
  gap: 16px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 285px);
  justify-content: center;
  gap: 16px;
}

.product-list > li {
  display: grid;
}

.product {
  box-shadow: 16px 32px 56px 0 rgba(169, 103, 213, 0.15);
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto auto;
  gap: 24px;
}

.product--theme-red {
  box-shadow: 16px 32px 56px 0 rgba(129, 0, 81, 0.15);
}

.product--theme-blue {
  box-shadow: 16px 32px 56px 0 rgba(28, 7, 114, 0.15);
}

.product__img {
}

.product__img > img {
  inline-size: 100%;
  block-size: auto;
}

.product__title {
  font-weight: 700;
  font-size: 24px;
  color: #6a0aab;
  hyphens: auto;
}

.product--theme-red .product__title {
  color: #810051;
}

.product--theme-blue .product__title {
  color: #1c0772;
}

.product__price {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5;
  color: #000;
}

.product__btn {
  background-color: #6a0aab;
  color: #fffa00;
  font-weight: 700;
  font-size: 18px;
  padding: 12px 16px;
  border-radius: 8px;
}

.product--theme-red .product__btn {
  background-color: #810051;
  color: #fffa00;
}

.product--theme-blue .product__btn {
  background-color: #1c0772;
  color: #fffa00;
}

.section {
  text-align: center;
  display: grid;
  gap: 24px;
}

.section__title {
  color: #6a0aab;
  font-size: 28px;
}

.section--theme-red .section__title {
  color: #810051;
}

.section--theme-blue .section__title {
  color: #1c0772;
}

.feedback-list {
  display: grid;
  justify-content: center;
  gap: 16px;
}

.feedback-list > li {
  display: grid;
}

.feedback {
  box-shadow: 16px 32px 56px 0 rgba(143, 174, 207, 0.25);
  background: #fff;
  border-radius: 16px;
  padding: 24px;
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
  gap: 24px;
}

.feedback__txt {
  line-height: 1.5;
}

.footer {
  background-color: #44036f;
  color: #fff;
  padding: 48px 20px;
  display: grid;
  gap: 24px;
}

.footer__contacts {
  display: grid;
  gap: 8px;
}

.footer__contacts > p > a {
  color: #fffa00;
}

.slider {
  display: grid;
  min-block-size: 600px;
  grid-template-rows: 1fr 35px;
}

.slider__content {
  display: grid;
}

.slider__item {
  display: none;
}

.slider__item.active {
  display: grid;
  align-items: center;
  padding: 12px 24px;
  margin: 0 -20px;
  min-block-size: 400px;
  background-size: 400px;
  background-repeat: repeat;
}

.slider__item-header {
  border-radius: 16px;
  padding: 10px;
  display: grid;
  gap: 32px;
  align-content: center;
  backdrop-filter: brightness(0.35);
  color: #fff;
}

.slider__item-header > h3 {
  font-size: 32px;
  text-transform: uppercase;
}

.slider__item-header > p {
  font-size: 18px;
  line-height: 1.5;
}

.slider__item--cars {
  background-color: red;
  background-image: url("/src/assets/images/car-wallpaper.webp");
}

.slider__item--aircrafts {
  background-color: orange;
  background-image: url("/src/assets/images/plane-flying-airplane-vector.webp");
}

.slider__item--car-parts {
  background-color: orange;
  background-image: url("/src/assets/images/design-car-parts.webp");
}

.slider__item--boats {
  background-color: orange;
  background-image: url("/src/assets/images/sailboats.jpg");
}

.slider__item--firetrucks {
  background-color: darkred;
  background-image: url("/src/assets/images/fire-trucks.webp");
}

.slider__content {
  grid-column: 1;
  grid-row: 1;
}

.slider__controls {
  display: none;
}

.slider__next-btn,
.slider__prev-btn {
  border-radius: 8px;
  width: 50px;
  height: 50px;
  font-size: 34px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
}

.slider__dots {
  display: grid;
  grid-auto-flow: column;
  gap: 16px;
  justify-content: center;
  padding: 10px 0;
}

.slider__dot {
  width: 15px;
  height: 15px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.slider__dot.active {
  background-color: #333;
}

@media (hover: hover) {
  .slider__next-btn:hover,
  .slider__prev-btn:hover {
    opacity: 0.8;
  }

  .nav-link:hover:after {
    background-size: 100% 100%;
  }

  .product__btn:hover {
    background-color: #fffa00;
    color: #6a0aab;
  }

  .footer__contacts > p > a:hover {
    color: #810051;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (min-width: 375px) {
}

@media (min-width: 480px) {
  .feedback-list {
    grid-template-columns: repeat(auto-fit, 440px);
  }

  .slider {
    min-block-size: 400px;
  }

  .slider__controls {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .slider__item.active {
    padding: 12px 88px;
  }
}

@media (min-width: 768px) {
  .page {
    gap: 48px;
  }

  .header {
    padding: 48px 32px;
  }

  .footer {
    padding: 48px 32px;
  }

  .main {
    padding: 0 32px;
    gap: 48px;
  }

  .section {
    gap: 40px;
  }
}

@media (min-width: 1000px) {
  .page {
    gap: 56px;
  }

  .header {
    padding: 48px 48px;
  }

  .footer {
    padding: 48px 48px;
  }

  .main {
    padding: 0 48px;
    gap: 48px;
  }

  .section {
    gap: 48px;
  }

  .nav-list {
    grid-auto-flow: column;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .page {
    gap: 56px;
  }

  .header {
    padding: 48px 64px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer {
    padding: 48px 64px;
  }

  .main {
    padding: 0 64px;
    gap: 64px;
  }

  .section {
    gap: 48px;
  }
}
